body{
    margin: 0;
    padding: 0;
    background: #333;

}

div{
    background:linear-gradient(270deg,#545f60,#5f3241);
    height: 400px;
    width: 80%;
    margin: auto;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 60px;
    background-color: rgb(243, 232, 232);
}
div:hover{
    background: linear-gradient(360deg,#a9d7b4,#5e478b);
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #cce7e8;
    text-align: center;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: #cce7e8;
    text-align: center;
    text-transform: uppercase;
}